@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import "all.css" screen;
.text{
    margin: 20px;
    border: 2px solid #fffff8;
    padding: 20px;
}
.text img{
    max-width: 30%;
    margin: 15px 15px 15px 0;
    float: left;
}
@media (max-width: 900px) and (min-width: 400px){
    .container{
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 15px;
        grid-template-columns: 20% 74%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "hd hd"
        "sd sd"
        "ct ct"
        "ft ft";
    }
    .sidebar{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .sidebar{
        text-align: center;
    }
    .text img{
        max-width: 100%;
        margin: 15px 0 15px 0;
    }
    .box{
        width: 40%;
    }
}

@media (max-width: 400px){
    h2{
        font-size: .8em;
    }
    header img{
        display: none;
    }
    .container{
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 15px;
        grid-template-columns: 18% 72%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "hd hd"
        "sd sd"
        "ct ct"
        "ft ft";
    }
    .sidebar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .text img{
        max-width: 100%;
        margin: 15px 0 15px 0;
        float: left;
    }
    .box{
        width: 90%;
        margin: 5px;
    }
    .nav{
        display: none;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 300px){
    .content{
        padding: 0;
    }
    .text{
        margin: 0;
        width: 90%;
    }
    
}