@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import "all.css" screen;
@media (max-width: 600px) and (min-width: 400px){
    .container{
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 15px;
        grid-template-columns: 20% 74%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "hd hd"
        "sd sd"
        "ct ct"
        "ft ft";
    }
    .sidebar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .sidebar{
        text-align: center;
    }
    .text img{
        max-width: 100%;
        margin: 15px;
        float: left;
    }
    nav{
        justify-content: center;
        align-items: center;
    }
    .nav{
        display: none;
    }
    .box{
        width: 40%;
    }
}

@media (max-width: 400px){
    h2{
        font-size: .8em;
    }
    header img{
        display: none;
    }
    .container{
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 15px;
        grid-template-columns: 22% 76%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "hd hd"
        "sd sd"
        "ct ct"
        "ft ft";
    }
    .sidebar{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .box{
        width: 90%;
    }
    nav{
        justify-content: center;
        align-items: center;
    }
    .nav{
        display: none;
    }
}